div {
  text-align: center;
  font-family: "Candara", "Encode Sans Expanded", sans-serif;
  font-size: 3.5em;
}
table {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 30px;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: darkred;
}

a:active {
  color: blue;
}
img {
  border: solid 10px transparent;
  padding: 20px;
}
img:hover {
  border-color: crimson;
}
button {
  background-color: coral;
  border: none;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
}

.chwyty {
  background: white;
  height: 1.2em;

  border-bottom: 10px solid snow;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.tooltip{
  position: relative;
  display: inline;
  border-bottom: 2px dotted gray;
}


/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  font-size: 0.8em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 400px;
  top: 100%;
  left: 50%;
  margin-left: -200px; /* Use half of the width (120/2 = 60), to center the tooltip */
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:active .tooltiptext {
  visibility: visible;
}


